@page "/cart"
@inject HttpClient Http
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http.Headers
@inject IAccessTokenProvider TokenProvider

<PageTitle>Su lista de compras</PageTitle>

<AuthorizeView>
    <Authorized>

        <h2>Lista de compras </h2>

        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in products)
                {
                    <tr>
                        <td>@product.Image</td>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>
                            <form>
                                <input type="number" id="cantidad" name="cantidad" min="1" max="100">
                            </form>
                        </td>
                        <td>@product.Price*@product.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-primary" @onclick="CheckOut">Realizar pago</button>
        <button class="btn btn-secondary" @onclick="CheckOut">Actualizar orden</button>
    </Authorized>
    <NotAuthorized>
        <h2>Debe inciar sesión para consultar el carrito </h2>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<OrderItem> products = new List<OrderItem>();
    private string category = "a";
    private string orderBy = "d";
    private string token_str = "";
    private string notify = "";

    protected override async Task OnInitializedAsync()
    {
        var requestMessage = new HttpRequestMessage(HttpMethod.Get, "https://localhost:7143/Orders/" + GlobalVariables.GetUserEmail().Replace("@", "").Replace(".com", ""));
        requestMessage.Headers.Authorization = new AuthenticationHeaderValue("Bearer", GlobalVariables.GetUserToken());
        var response = await Http.SendAsync(requestMessage);
        if (response.IsSuccessStatusCode)
        {
            products = await response.Content.ReadFromJsonAsync<List<OrderItem>>();
            notify = ("Orden cargada .");
            StateHasChanged();
            await Task.Delay(3000);
            notify = ($"");
        }
        else
        {
            var statusCode = (int)response.StatusCode;
            notify = ("Error obteniendo orden.");
            StateHasChanged();
            await Task.Delay(3000);
            notify = ($"");
        }
    }

    public void CheckOut(){

    }

    public void UpdateOrder()
    {

    }

    public class OrderItem
    {
        public string Name { get; set; }
        public double Price { get; set; }
        public double Stock { get; set; }
        public string Image { get; set; }
        public string Description { get; set; }
        public string Category { get; set; }
        public double Quantity { get; set; }

        public OrderItem(string name, double price, double stock, string image, string description, string category, double quantity)
        {
            Name = name;
            Price = price;
            Stock = stock;
            Image = image;
            Description = description;
            Category = category;
            Quantity = quantity;
        }
    }

}
